$d-flex: flex;
$w-100: 100%;
$list-w: 500px;
$header-lg-h: 100px;
$header-lg-w: 1300px;
$logo-lg-w: 125px;
$logo-lg-h: 90px;
$padding-y: 20px;
$padding-x: 50px;
$align-center: center;
$space-around: space-around;

$btn-padding-y: 1rem;
$btn-padding-x: 4rem